//Variables

// built in sass functions: darken, hsla, desaturate, lighten 
// is cool color and low key value
$primary-color: saturate(hsl(206%, 23%, 35%),70%);
// desaturate(darken(hsla(240%, 100%, 50%, 1),10%),5%);
//functions http://bourbon.io/docs/#tint-shade, I have my second color based on my first
$secondary-color: complement($primary-color);
// tint(hsla(hue(#0000ff), saturation(#0000ff), lightness(#0000ff), 1),80%);
$tertiary-color: hsla(hue(#ffff00), saturation(#ffff00), lightness(#ffff00), 1);

/******************************
/* color pallette            */
/******************************
primary blue (this color is the basis for all others and is pulled from the main image, colors are mixed to mimic the sunset in the picture)
rgb(27, 98, 152)	
hsl(206, 70%, 35%)
#1b6298	

light blue 
RGB: 225 225 244
HSL: 240° 46% 92%
Hex: #E1E1F4
*/

//common measurements
$base-font-size: 16px;

//media query values, site built mobile first
// $sm-md: ;
$medium: pxtoem(480px); //tablet
$large: pxtoem(961px); //desktop

//other
$virtualTiles: 3;
$physicalTiles: 3;
$tiles: $virtualTiles+$physicalTiles;

//custom function from class
@function pxtoem($px, $base: $base-font-size) {
  @return($px/$base) * 1em;
}